html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body {
  background-color: #f3f2ef;
  /* rgb(241, 243, 243) */
}

.center {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0c56a5;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2882dc;
  animation: spin 3s linear infinite;
}

.spinner::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #63b9f2;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}